<div class="button-bar">
  <h5 class="title">{{ title$ | async }}</h5>
  <button
    *ngFor="let tabRecord of tabData$ | async"
    [ngClass]="{ active: (activeTabId$ | async) === tabRecord?.id }"
    (click)="activateTab(tabRecord.id)">
    {{ tabRecord?.title }}
  </button>
</div>
<div class="content">
  {{ (activeTab$ | async)?.text }}
  <demo-tabset
    *ngIf="(activeTab$ | async)?.subTabSet"
    [parentPath]="getSubTabSetPath((activeTab$ | async).id)"
    tabSetId="subTabSet">
  </demo-tabset>
</div>
